{% extends "blog/../account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}

    <div style="width: 450px; margin: 100px auto;">

        <div style="border: 1px solid #E6E6E6; width: 400px; margin: 10px auto; padding: 20px 10px; background: #fff;">

            <form class="login" method="POST" action="{% url 'account_login' %}">

                <div style="text-align:center;">

                    <p style="font-size: 1.5em;"><h2>Login Page</h2></p>

                    {% csrf_token %}

                    <p><input type="text" name="login" placeholder="아이디" autofocus="autofocus" maxlength="150" required id="id_login" style="padding: 6px;" /></p>
                    <p><input type="password" name="password" placeholder="비밀번호" required id="id_password" style="padding: 6px;" /></p>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                </div>

                <div style="padding-top: 10px; text-align: center;">
                    <button type="submit" class="save btn btn-default" style="padding-left: 75px; padding-right: 75px;">login</button>
                </div>

            </form>

            <div style="padding-top: 15px; text-align: center;">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>

            <div style="padding-top: 20px; text-align: center;">
                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}

                    <div class="socialaccount_ballot">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %} <!--??-->

                {% else %}

                    <p>
                        {% blocktrans %}
                            If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.
                        {% endblocktrans %}
                    </p>

                {% endif %}
            </div>

        </div>

        <div style="border: 1px solid #E6E6E6; width: 400px; margin: 10px auto 0; padding: 20px 10px; text-align: center; background: #fff;">
            계정이 없으신가요? <a href="{{ signup_url }}">가입하기</a>
        </div>

    </div>

{% endblock %}