{% extends 'blog/../account/base.html' %}

{% block content %}

    {% for post in posts %}

        <div class="post panel panel-default">
            <div class="panel-body" style="padding:35px;">

                <div class="date">
                    {{ post.published_date }}
                </div>

                <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

                <p class="js_post_text">
                    <a href="{% url 'blog:post_detail' pk=post.pk %}">
                        {{ post.text|linebreaksbr }}<!-- |linebreaksbr : 이건 블로그 글 텍스트에서 행이 바뀌면 문단으로 변환하도록 하라는 의미 -->
                    </a>
                </p>

                <p class="js_post_detail">
                    <a href="{% url 'blog:post_detail' pk=post.pk %}">
                        Comments: {{ post.approved_comments.count }}
                    </a>
                </P>


            </div>
        </div>

    {% endfor %}

{% endblock %}